
h1 {
    font-size: 2.5em;
    margin: 0px;
    padding: 0;
    color: #fff;
}

h3 {
    font-size: 2em;
}

.jumbotron-fluid {
    background-color: black;
}
.answer {
	cursor: pointer;
	margin: 5px;
}
#result {
    display: none;
    height: auto;
    width: 100%;
    background-color: #193441;
    color: white;
    font-size: 1.8em;
    text-align: center;
    padding: 15px 5px;
}

#result .gameOverText {
    display: block;
}

#questionText {
    margin: 20px auto 0px auto;
    text-align: center;
    font-size: 1.4em;
}

button {
    box-shadow: black 2px 3px 3px;
}

button:hover {
    box-shadow: black 2px 1px 1px;
}

button#startGame {
    cursor: pointer;
    margin: 20px;
    padding: 20px;
}

.black {
    background: black;
}

#scoreRight, #scoreWrong {
    text-align: center;
    padding: 30px;
    width: 100%;
    background: black;
    color: white;
    min-height: 99px;
}

.blackBox {
    float: right;
    text-align: center;
    padding: 30px 0px;
    width: 100%;
    background: black;
    color: white;
    min-height: 100px;
}

#choices {
    display: none;
    text-align: center;
    font-size: 1.4em;
    width: 100%;
}


#choices p {
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid black;
}

p.answer:hover {
    background-color: red;
    box-shadow: black 2px 3px 3px;
}


#startGame,  #playAgain {
    font-size: 2.2em;
    background-color: #280207;
    color: white;
}

#startGame {
    text-align: center;
    display: inline;
}

#playAgain {
    text-align: center;
    display: none;
}

#gameLengthResult, #questionDurationResult {
    text-align: center;
}

#timeOutput, #questionsOutput {
    font-size: 2em;
}